.headbar
{
	height: 50px;
}

.headbar h1
{
	margin-top: 15px !important;
}

.classlist .time
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.currenttime
{
	float: left;
}

.chromeless .ui-btn
{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
.chromeless .ui-btn .ui-btn-inner
{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}